@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

* {
	font-family: 'DotGothic16', sans-serif;
}

body {
	padding:0;
	margin:0;
	width:100vw;
	height:100vh;
	overflow:hidden;
	background-color:rgb(10,10,10);
	background-repeat:no-repeat;
	background-size:cover;
}
#character {
	position:absolute;
	top:0;
	left:0;
	width:100vw;
}
#lighting {
	z-index:1;
	pointer-events:none;
	display:none;
	background-color:red;
}
#canvas {
	position:absolute;
}

canvas:not(#canvas):not(#character) {
	position:absolute;
	top:0;
	left:0;
	z-index:2
}
#chunk {
	display:block;
	background-color: red;
}
#lightsCanvas {
	display:none;
}

img:not(#instructions img) {
	display:none;
}

img {
	image-rendering: pixelated;
}

#coords,#biomes {
	position:absolute;
	pointer-events:none;
	font-size:2vw;
	color:white;
	z-index:3;
}
#coords {
	top:0;
}
#biomes {
	top:10vh;
}

#inventory {
	position:absolute;
	width: 640px;
	height:calc(90% - 110px);
	top:10%;
	left: calc(50vw - 335px);
	padding:0px 10px;
	background: linear-gradient(rgba(40,40,40,1) 0%, rgba(30,30,30,1) 100%);
	z-index:3;
	border-radius: 5px;
	border: 5px solid rgb(50, 50, 50);
}

#inventorySmall,#fullInventory {
	position:absolute;
	width:640px;
	font-size:0;
}

#fullInventory {
	bottom:10px;
}

#crafting, #furnace{
	position:relative;
	margin-left: 160px;
	margin-top:80px;
	white-space:nowrap;
}
#crafting {
	width:240px;
	height:240px;
}
#crafting .itemBox {
	display:inline-block;
}
.smallCrafting {
	width:160px !important;
	height:160px !important;
}
.craftingOutput {
	position:relative;
	top:-120px;
	left:250px;
}

#crafting.advancedCrafting {
	margin-top:25px;
}
	
.advancedCrafting .craftingOutput {
	top:-160px;
	left: 260px;
}

#furnace {
	width:auto;
	height:80px;
}
.furnaceItem {
	position: absolute !important;
	left: 40px;
}
.furnaceFuel {
	top:80px;
}
.furnaceOutput {
	left:240px;
	top:40px;
}
meter:not(.itemHealth) {
	position: absolute;
	top:40px;
	left:320px;
	transform:rotateZ(-90deg) translate3d(-71px,10px,0px);
	transform-origin:left;
}

#inventorySmall {
	bottom:15px;
	left:calc(50% - 320px);
	z-index:2;
}
.itemBox {
	position:relative;
	float:left;
	width:80px;
	height:80px;
	background-color: grey;
	box-sizing:border-box;
	outline:1px solid rgb(100,100,100);
}
.selected {
	box-shadow: inset 0px 0px 0px 5px rgb(0,0,0);
}
.inventoryBlock {
	width:100%;
	height:100%;
}
.inventoryBlock {
	background-image:url("../res/tileset_inventory.png");
	background-position:0px 0px;
	background-size:3200px;
	image-rendering: pixelated;
}
.inventoryBlock span {
	font-size:36px;
	float:right;
	margin-top:40px;
	color:white;
	text-shadow: 1px 1px 10px #000000;
	pointer-events:none;
}
.itemHealth {
	width:100%;
	height:10px;
}
.itemHealth::-webkit-meter-bar {
	background-color: red;
}

.itemHealthWrapper {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:10px;
}

.hide {
	display:none !important;
}

#cursor {
	position:absolute;
	box-sizing:border-box;
	top:0;
	left:0;
	width:30px;
	height:30px;
	background-color:rgb(0,0,0,0.3);
	border:1px solid black;
	pointer-events:none;
}

#healthBar, #oxygenBar {
	position:absolute;
	width:200px;
	height:25px;
	bottom: 110px;
	z-index:3;
}

#oxygenBar {
	left:calc(50vw - 110px);
	background-color:rgb(0,0, 100);
}
#oxygenIndicator {
	height:25px;
	background-color:rgb(0,0,255);
}

#healthBar {
	left:calc(50vw - 320px);
	background-color:red;
}
#healthIndicator {
	height:25px;
	background-color:green;
}

#instructionsButton {
	all: unset;
	font-size: 20px;
	position: absolute;
	top: 10px;
	right: 10px;
	width: 60px;
	height: 60px;
	border-radius: 100%;
	background-color: gainsboro;
	text-align-last: center;
	cursor: pointer;
	box-shadow: 0px 0px 20px black;
}

#instructions {
	position:absolute;
	width:100vw;
	height:100vh;
	background-color: gainsboro;
	z-index:3;
}

#instructionsHeader {
	text-align: center;
	height: 7vh;
	border-bottom: 1px solid #000;
}
h1 {
	padding: 0;
	margin: 0;
	width: 50vw;
	margin-left: 25vw;
}
#closeInstructions {
	all: unset;
	position: absolute;
	top:0;
	right:0;
	width: 7vh;
	height: 7vh;
	background-color: gainsboro;
	text-align-last: center;
	border-left: 1px solid black;
	cursor: pointer;
}

#closeInstructions:hover {
	background-color: #ccc;
}

#instructionsPanel {
	box-sizing: border-box;
	width: 100vw;
	height: 93vh;
	background-color: #fff;
	overflow-y:auto;
	padding: 10px;
}

.craftingRecipePanel {
	display: flex;
	flex-direction: row;
	height: calc(55vh + 10px);
	border: 1px solid black;
	padding-right: 0;
	background-color: rgb(210, 210, 210);
	margin-bottom: 20px;
}
.crpLeftPanel, .crpRightPanel {
	width: 50%;
	height: 100%;
	box-sizing: border-box;
	padding-bottom: 10px;
}

.crpLeftPanel {
	height: calc(55vh + 10px);
	box-sizing: border-box;
	padding: 10px;
}

.crpLeftPanel .recipeImage {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.crpRightPanel {
	display: flex;
	flex-direction: column;
	border-left: 1px solid black;
}

.crpHeader {
	text-align: center;
	height: 4vh;
	border-bottom: 1px solid black;
	padding: 10px 0;
	/* flex: none; */
}

h3 {
	margin: 0;
	padding: 0;
}

.crpIngredients {
	padding-left: 10px;
	/* flex: none; */
}

.crpItems {
	display: flex;
	flex-direction: row;
	flex: 1;
	border-top: 1px solid black;
	padding: 10px 10px 0 10px;
}
.crpItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	width: 50%;
}

.crpItemImage {
	width: 80px;
}

.true, .false {
	font-weight: bold;
}
.true {
	color: green;
}
.false {
	color: red;
}

.w-full {
	width: 100%;
}